body{
    background-color: rgb(180, 208, 216);
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    padding: 20px;
    border: solid 2px black; 
    border-radius: 50px;
}

#post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecera{
    background-color: rgb(127, 189, 255);
    box-shadow: inset;
    border: solid 2px black;
    border-radius: 150px;
    padding: 10px;
    color: rgb(0, 21, 128);
    box-shadow: 10px 5px 5px rgb(0, 123, 255);
}